@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:500,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  margin: 0;
  background: linear-gradient(#871e0f, #500519);
  background-image: url("./bgRed.jpg");
  background-size: cover;
  background-attachment: fixed;
}
